p {
    font-family: "Raleway", sans-serif;
}
.jumbotron {
    background-image: url(/static/imgs/adoptapet.jpg);
    background-size: cover;
    background-position: 0% 70%;
    height: 50vh;
    font-family: "Truculenta", sans-serif;
}
.jumbotron h1 {
    font-size: 5rem;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.note-link {
    cursor: pointer;
}
