<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css"
        />
        <title>Adopt A Pet</title>
    </head>
    <body>
        {% block content %}
        <!-- Code from template files inserted here -->
        {% endblock %}
    </body>
</html>
