{% extends 'base.html' %} {% block content %}
<!-- Insert code block here -->
<div class="container d-flex flex-row-reverse">
    <p class="lead">
        <a class="btn btn-info" href="/search" role="button">New Search</a>
    </p>

    <p class="lead">
        <a class="btn btn-info mr-3" href="/shownotes" role="button"
            >Show Pets With Notes</a
        >
    </p>
</div>

<!-- Start Loop -->
<div id="container" class="container d-flex flex-row flex-wrap">
    {% for animal in resp['animals'] %}

    <div class="col-md-4 col-sm-6">
        <!-- pet card definition -->
        <div class="card w-100" mb-5>
            <img
                class="card-img-top"
                src="{{animal['photos'][0]['large']}}"
                alt="Card image cap"
            />

            <div class="card-body">
                <h5 class="card-title">{{animal['name']}}</h5>
                <p class="card-text">{{animal['description']}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">{{animal['age']}}</li>
                <li class="list-group-item p-1">{{animal['gender']}}</li>
                <li class="list-group-item p-1">
                    {{animal['breeds']['primary']}}
                </li>

                <li class="list-group-item p-1">
                    {{animal["contact"]["address"]["city"]}},
                    {{animal["contact"]["address"]["state"]}}
                </li>
            </ul>
            <textarea
                name=""
                id="{{animal['id']}}"
                cols="30"
                rows="2"
                class="form-control"
                placeholder="Enter notes here"
            ></textarea>
            <div class="card-body">
                <a href="{{animal['url']}}" target="_blank" class="card-link"
                    >Adoption Info</a
                >
                <!-- ? In progress-->
                <a
                    id="petnote{{animal['id']}}"
                    data-id="{{animal['id']}}"
                    class="card-link note-link"
                    >Save Note</a
                >

                <!-- ? End-->
            </div>
        </div>
        <!-- end pet card definition -->
    </div>
    {%endfor%}
    <!-- End Loop -->
</div>
{% endblock content %}
