{% extends 'base.html' %} {% block content %}
<!-- Insert code block here -->
<div class="container d-flex flex-row-reverse justify-content-between">
    <p class="lead">
        <a class="btn btn-info" href="/search" role="button">New Search</a>
    </p>
    <h3>Pets with notes</h3>

    <!-- <p class="lead">
        <a class="btn btn-info mr-3" href="/shownotes" role="button"
            >Show Pets With Notes</a
        >
    </p> -->
</div>

<!-- Start Loop -->
<div id="container" class="container d-flex flex-row flex-wrap">
    {% for pet in resp %}

    <div class="col-md-4 col-sm-6">
        <!-- pet card definition -->
        <div class="card w-100" mb-5>
            <img
                class="card-img-top"
                src="{{pet.animal['photos'][0]['large']}}"
                alt="Card image cap"
            />

            <div class="card-body">
                <h5 class="card-title">{{pet.animal['name']}}</h5>
                <p class="card-text">{{pet.animal['description']}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">{{pet.animal['age']}}</li>
                <li class="list-group-item p-1">{{pet.animal['gender']}}</li>
                <li class="list-group-item p-1">
                    {{pet.animal['breeds']['primary']}}
                </li>

                <li class="list-group-item p-1">
                    {{pet.animal["contact"]["address"]["city"]}},
                    {{pet.animal["contact"]["address"]["state"]}}
                </li>
            </ul>
            <textarea
                name=""
                id="{{pet.animal['id']}}"
                cols="30"
                rows="2"
                class="form-control"
                placeholder="Enter notes here"
            >
{{pet.eval}}</textarea
            >
            <small
                ><p>Make changes as necessary and click "Save Note"</p></small
            >

            <div class="card-body">
                <a
                    href="{{pet.animal['url']}}"
                    target="_blank"
                    class="card-link"
                    >Adoption Info</a
                >
                <a
                    id="petnote{{pet.animal['id']}}"
                    data-id="{{pet.animal['id']}}"
                    class="card-link note-link"
                    >Save Note</a
                >
            </div>
        </div>
        <!-- end pet card definition -->
    </div>

    {%endfor%}
    <!-- End Loop -->
</div>
{% endblock content %}
