{% extends 'base.html' %} {% block content %}
<!-- Insert code block here -->
<div class="container d-flex flex-row-reverse justify-content-between">
    <p class="lead">
        <a class="btn btn-info" href="/search" role="button">New Search</a>
    </p>
    <h3>Pets with notes</h3>
</div>

<!-- Start Loop -->
<div id="container" class="container d-flex flex-row flex-wrap">
    {% for pet in resp %}

    <div class="col-md-4 col-sm-6 my-4">
        <!-- pet card definition -->
        <div class="card w-100" mb-5>
            {% if pet['photos']|length>0 %}
            <img
                class="card-img-top"
                src="{{pet['photos'][0]['large']}}"
                alt="Card image cap"
            />
            {%else%}
            <img
                class="card-img-top"
                src="/static/imgs/avatar.jpg"
                alt="Card image cap"
            />
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{pet['name']}}</h5>
                <p class="card-text">{{pet['description']}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">{{pet['age']}}</li>
                <li class="list-group-item p-1">{{pet['gender']}}</li>
                <li class="list-group-item p-1">
                    {{pet['breeds']['primary']}}
                </li>

                <li class="list-group-item p-1">
                    {{pet["contact"]["address"]["city"]}},
                    {{pet["contact"]["address"]["state"]}}
                </li>
            </ul>
            <textarea
                name=""
                id="{{pet['id']}}"
                cols="30"
                rows="2"
                class="form-control"
                placeholder="Enter notes here"
            >
{{pet.eval}}</textarea
            >
            <small
                ><p class="text-info">
                    Make changes as necessary and click "Save Note"
                </p></small
            >
            <!-- location of message bar -->
            <div id="message-wrap"></div>
            <!--  -->
            <div class="card-body">
                <a href="{{pet['website']}}" target="_blank" class="card-link"
                    >Adoption Info</a
                >
                <a
                    id="petnote{{pet['id']}}"
                    data-id="{{pet['id']}}"
                    class="card-link note-link"
                    >Save Note</a
                >
                <a href="/delete-note/{{pet['id']}}"
                    ><i class="fas fa-trash ml-5"></i
                ></a>
            </div>
        </div>
        <!-- end pet card definition -->
    </div>

    {%endfor%}
    <!-- End Loop -->
</div>
{% endblock content %}
