{% extends 'base.html' %} {% block content %}
<!-- Insert code block here -->
<div id="container" class="container d-flex">
    <!-- Left column - Pet of the day -->
    <div class="col-6">
        <a href="/search" class="btn">Search</a>
        <h3>Featured Pet!</h3>
        <!-- pet card definition -->
        <div class="card w-75">
            <!-- ! -->
            {% if response['photos']|length>0 %}
            <img
                class="card-img-top"
                src="{{response['photos'][0]['large']}}"
                alt="Card image cap"
            />
            {%else%}
            <img
                class="card-img-top"
                src="/static/imgs/avatar.jpg"
                alt="Card image cap"
            />
            {% endif %}
            <!-- ! -->

            <div class="card-body">
                <h5 class="card-title">{{response['name']}}</h5>
                <p class="card-text">{{response['description']}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">{{response['age']}}</li>
                <li class="list-group-item p-1">{{response['gender']}}</li>
                <li class="list-group-item p-1">
                    {{response['breeds']['primary']}}
                </li>

                <li class="list-group-item p-1">
                    {{response["contact"]["address"]["city"]}},
                    {{response["contact"]["address"]["state"]}}
                </li>
            </ul>
            <div class="card-body">
                <a
                    href="{{response['website']}}"
                    target="_blank"
                    class="card-link"
                    >Adoption Info</a
                >
            </div>
        </div>
        <!-- end pet card definition -->
    </div>
    <!-- right column. text -->
    <div id="home-rt-col" class="col-6">
        <h5 class="text-info mt-5 ml-4">
            <ul>
                <li>Search for a pet to adopt for your family.</li>
                <li>
                    Evaluate pets that catch your eye and take notes about that
                    pet.
                </li>
                <li>Limit the distance used to display pets.</li>
                <li>Display pets you have notes on to help make your pick.</li>
                <li>You must Register / Login to display pets.</li>
            </ul>
        </h5>
        <br />
        <br />
        <div class="ml-5 mt-5 pt-5">
            <iframe
                width="470"
                height="365"
                src="https://www.youtube.com/embed/Tzr4oiLIU5g"
            >
            </iframe>
            <!-- src="https://www.youtube.com/embed/mAVFwQUH8BU" -->
        </div>
    </div>
</div>
{% endblock %}
