{% extends "base.html" %} {% block content %}
<div class="col-4 container bg-info">
    <h3>Registration</h3>
    <form class="my-3" id="register-form" method="POST">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != "hidden" %}
        <div class="form-group">
            <p>
                {{ field.label }} {{ field(class_='form-control') }} {% for
                error in field.errors %} {{ error }} {% endfor %}
            </p>
        </div>

        {% endfor %}
        <button class="btn btn-info btn-lg" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
