{% extends 'base.html' %} {% block content %}
<!-- Insert code block here -->
<div id="container" class="container d-flex">
    <!-- Left column - Pet of the day -->
    <div class="col-6 my-4">
        <h3>Featured Pet!</h3>
        <!-- pet card definition -->
        <div class="card w-75">
            <!-- ! -->
            {% if response['photos']|length>0 %}
            <img
                class="card-img-top"
                src="{{response['photos'][0]['large']}}"
                alt="Card image cap"
            />
            {%else%}
            <img
                class="card-img-top"
                src="/static/imgs/avatar.jpg"
                alt="Card image cap"
            />
            {% endif %}
            <!-- ! -->
            <div class="card-body">
                <h5 class="card-title">{{response['name']}}</h5>
                <p class="card-text">{{response['description']}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">{{response['age']}}</li>
                <li class="list-group-item p-1">{{response['gender']}}</li>
                <li class="list-group-item p-1">
                    {{response['breeds']['primary']}}
                </li>
                <li class="list-group-item p-1">
                    {{response["contact"]["address"]["city"]}},
                    {{response["contact"]["address"]["state"]}}
                </li>
            </ul>
            <div class="card-body">
                <a
                    href="{{response['website']}}"
                    target="_blank"
                    class="card-link"
                    >Adoption Info</a
                >
            </div>
        </div>
        <!-- end pet card definition -->
    </div>
    <!-- right column. text -->
    <div id="home-rt-col" class="col-6">
        <div id="searchform" class="col-10 container">
            <h3>Search for a pet</h3>
            <form class="mt-3" id="search-form" method="POST">
                {{ form.hidden_tag() }} {% for field in form if
                field.widget.input_type != "hidden" %}
                <div class="form-group">
                    <p>
                        {{ field.label }} {{ field(class_='form-control') }} {%
                        for error in field.errors %} {{ error }} {% endfor %}
                    </p>
                </div>
                {% endfor %}
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
